config ZMK_OS_DETECTION
    bool "Enable OS detection feature"

if ZMK_OS_DETECTION

config ZMK_OS_DETECTION_STUDIO_RPC
    bool "Enable OS detection custom Studio RPC"
    depends on ZMK_STUDIO

endif
